@charset "utf-8";
 
body{
    background-color: #e8d9bf;
 }

/*header*/

.header_inner{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-left: 2.7%;
    padding-right: 7.1%;
    position:absolute;
    width: 100%;
}

.header__nav ul{
    display: flex;
    gap: 50px
}

.header__nav li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      font-weight: bold;
}

h1{
    width: 227px;
}

/*全体*/

.container{
    background-color: #e8d9bf;
    margin: 0 auto;
}

.about_us,
.mission,
.menu,
.event{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

h2{
    text-align: center;
}

h2 img{
    height: 78px;
    width:auto;
}

/*mission*/

.mission{
    padding-top: 100px;
    text-align: center;
}

.top{
    font-size: 30px;
    margin-bottom: 50px;
}

.font_lg{
    font-size: 82px;
    margin-top: 73px;
    margin: 0 auto;
    margin-bottom: 45px;
    line-height: 1.17;
}

.bottom{
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.65;
    margin-bottom: 86px;
}

/*about us*/

.about_us{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 100px;
}

.inner_photo{
    width:50%;
}

.inner_photo img{
    border-bottom-right-radius: 80px;
}

.about_us_text h2{
    text-align: left;
    margin-bottom: 42px;
}

.about_us_text{
    width: 50%; 
    padding-left: 82px;
}

.about_us_text .head_copy{
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 31px;
    line-height: 1.38;
}

.about_us_text p{
    font-size: 16px;
    line-height: 1.62;
}

/* menu */

.menu img{
    margin-bottom: 50px;
}

.menu_item ul{
    display: flex;
    gap: 44px;
    justify-content:center;
    margin-bottom: 100px;
}

.menu_item li{
    width: 32.8%;
}

.menu_item img{
    border-top-right-radius: 48px;
}

.menu_item h3{
    font-size: 38px;
    color: #f6302c;
    margin-top: -65px;
    margin-bottom: 26px;
    padding-left: 10px;
}

.menu_item p{
    line-height: 1.47;
}

/* gallery */

.gallery h2 img{
    margin-bottom: 50px;
}

.scroll{
    display: flex;
    margin-bottom: 70px;
}

.scroll img{
     width: 20%;
}

/* event */

.event{
    margin-bottom: 40px;
}
.event h2 img{
    text-align: center;
    margin-bottom: 44px;
}

.event-content{
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff;
    border: solid #4f260b;
}

dl {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin:40px auto;
    font-size: 23px;
  }

dt {
    width: 20%;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  
dd {
    width: 80%;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

dt:last-of-type,
dd:last-of-type{
    margin: 0;
    padding: 0;
}

/* access */

.access h2 img{
    margin-bottom: 48px;
}

iframe{
    width: 100%;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

/* footer */

footer{
    background-color: #ffffff;
}

.footer_inner{
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 75px;
    padding-left: 24%;
}

.footer_inner img{
    width: 226px;
}

.shop_detail{
    padding-left: 64px;
    line-height: 1.95;
}

.copy_right{
    text-align: center;
    padding-bottom: 75px;
}

.top_button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:125px;
}